{% extends 'base/basic.html'%}

{% load static %}
{% block content %}

<div class="container about">
    <div class="col-lg-8 col-lg-offset-2">

        <img src="{% static 'media/site/logo.jpg' %}" class="about-photo">
        <hr>
        ТзОВ IМПЕРІЯ ДАХУ — ВИРОБНИК МЕТАЛОЧЕРЕПИЦІ ТА ПРОФНАСТИЛУ
        Переможець конкурсу «Кращий продукт Тернопілля»,
        завод-виробник металопрофілю та металочерепиці пропонує дах під ключ —
        металочерепиця, профнастил, аксесуари викінчення даху, широка гама RAL —кольорів
        <hr>
        Сировина:
            <ul type="square">
                <li>ARCELOR-Німеччина</li>
                <li>U.S.Steel-Словаччина</li>
                <li>Myriad-Франція</li>
            </ul>
        <hr>
        Водостічні ситеми пластикові та металеві, за найнижчими цінами. Доступні ціни.
        Послуги: заміри даху, підбір комплектуючих, консультації. Швидке виконання замовлення.
        Водостічні ситеми пластикові та металеві, за найнижчими цінами. Доступні ціни.
        Послуги: заміри даху, підбір комплектуючих, консультації. Швидке виконання замовлення.
        Водостічні ситеми пластикові та металеві, за найнижчими цінами. Доступні ціни.
        Послуги: заміри даху, підбір комплектуючих, консультації. Швидке виконання замовлення.
        Водостічні ситеми пластикові та металеві, за найнижчими цінами. Доступні ціни.
        Послуги: заміри даху, підбір комплектуючих, консультації. Швидке виконання замовлення.
        Водостічні ситеми пластикові та металеві, за найнижчими цінами. Доступні ціни.
        Послуги: заміри даху, підбір комплектуючих, консультації. Швидке виконання замовлення.

    </div>
</div>

{% endblock %}