{% extends 'base/basic.html'%}

{% load static %}
{% block content %}

<div class="container contact">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="contact-info">
                <h1>Контакти</h1>
                <hr>
                    <address>
                        <strong>Імперія Даху</strong><br>
                        <i class="fa fa-location-arrow" aria-hidden="true"> П.Тичини 14</i><br>
                        <i class="fa fa-info" aria-hidden="true"> Львів, Lv 79068</i><br>
                        <i class="fa fa-mobile-phone">  Телефон:+380(32)294-05-94</i><br>
                        <i class="fa fa-mobile-phone">  Телефон:+380(32)294-00-04</i>
                    </address>

            </div>
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d642.9044666227251!2d24.03389402922689!3d49.86842246311502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adc557c179e61%3A0x17465087c8578af2!2z0YPQuy4g0KLRi9GH0LjQvdGLLCAxNCwg0JvRjNCy0L7Qsiwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1sru!2sua!4v1522603099037" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


{% endblock %}