{% extends 'base/basic.html' %}

{% load static %}
{% block content %}

    <div class="container main">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <h2 class="text-center news">Наша продукція</h2>
                <div class="col-sm-6 col-lg-3 col-md-12">
                    <div class="thumbnail">
                        <a href="{% url 'application:tile' %}"><img src="{% static 'media/site/cherep.jpg' %}" alt="Металочерепиця"></a>
                        <div class="caption">
                            <p>Металочерепиця</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-12">
                    <div class="thumbnail">
                        <a href="{% url 'application:board' %}"><img src="{% static 'media/site/profil.jpg' %}" alt="Профнастил"></a>
                        <div class="caption">
                            <p>Профнастил</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-12">
                    <div class="thumbnail">
                        <a href="{% url 'application:accessories' %}"><img src="{% static 'media/site/akses.jpg' %}" alt="Аксесуари"></a>
                        <div class="caption">
                            <p>Аксесуари</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-md-12">
                    <div class="thumbnail">
                        <a href="{% url 'application:drainage' %}"><img src="{% static 'media/site/system.jpg' %}" alt="Водостічні системи"></a>
                        <div class="caption">
                            <p>Водостічні системи</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row main-info">
                <div>
                    Шановні клієнти, ласкаво просимо на сайт ТОРГОВО-БУДІВЕЛЬНОЇ КОМПАНІЇ "Імперія-Даху".
                    Наша компанія має декілько напрямів діяльності, проте один із основних - продаж покрівельних
                    матеріалів та будівництво дахів "під ключ".
                    Свою діяльність в покрівельному бізнесі, ми почали в 2004 році і встигли завоювати позитивний імідж,
                    надійних постачальників і освічених будівельників.
                    Наша компанія є офіційним дилером більшості виробників покрівельних матеріалів, представлених на
                    ринку України, що дозволяє виписувати офіційну гарантію
                    і представляти сертифікати відповідності на всю продукцію пропоновану нами.
                </div>
                <div>
                    <img src="{% static 'media/site/factory.jpg' %}" class="main-picture">
                </div>
                <div>
                    <h2>Основними перевагами роботи з "Імперія даху" можна назвати:</h2>
                    <ul>
                        <li>Високий рівень кваліфікації персоналу;</li>
                        <li>Найнижчі, оптові ціни, практично на всю продукцію, що досягаються великим товарообігом;</li>
                        <li>Безкоштовний виїзд інженера - замірника на об'єкт;</li>
                        <li>Безкоштовний прорахунок кількості матеріалів і бюджету покрівлі;</li>
                        <li>Оптимальна пропозиція матеріалів, виходячи з показників ціна / якість, без шкоди для
                            покрівлі;
                        </li>
                        <li>Мінімальні терміни постачання матеріалів;</li>
                        <li>Оптимальні терміни будівництва даху;</li>
                        <li>Будівництво даху будь-якого рівня складності;</li>
                        <li>Можливість доставки матеріалів в будь-яку точку України (до багатьох міст - безкоштовно);
                        </li>
                        <li>Надання гарантії на всі матеріали та роботи. Високий рівень кваліфікації персонала;</li>
                    </ul>
                </div>
                <div>
                    <blockquote>
                        <p>Співпрацюючи з "Імперія даху", Ви знайдете відмінного партнера, надійного постачальника і якісного будівельника.
                            Бажаємо Вам успішного будівництва, ремонту, надійних будівель і комфорту! З повагою Імперія даху</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


{% endblock %}